#footer {
  background: url('../assets/img/start-screen-background.jpg');

  .outer-wrapper {
    padding-top: 2.5rem;
    background: $start-screen-gradient-background;
  }
}

@media screen and (max-width: 1023px) {
  #footer {
    .outer-wrapper {
      padding-top: 1.875rem;
    }
  }
}
