#pets {
  background-color: $color-light-l;

  .content {
    flex-direction: column;
    padding: 5rem 0 6.25rem;

    &__heading {
      text-align: center;
      margin-bottom: 3.75rem;
    }
  }

  .swipper {
    margin-bottom: 3.125rem;
  }
}
