@import '../../styles/var.scss';

#pets {
  background-color: $color-light-l;

  .content {
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 6.25rem;

    &__heading {
      margin-bottom: 3.75rem;
      text-align: center;
    }
  }

  .swipper {
    margin-bottom: 3.75rem;
  }
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

  #pets .content {
    padding: 2.625rem 0.625rem;

    &__heading {
      margin-bottom: 2.625rem;
      font-size: 1.5625rem;
    }
  }
}
