@import '../../styles/var.scss';

@import '../../styles/paragraph.scss';

#donation {
  $text-heading-max-width: 300px;
  $text-subheading-max-width: 380px;

  background-color: $color-light-l;

  .content {
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 6.25rem;

    &__image {
      margin-right: 1.875rem;
    }
  }

  .text {
    max-width: $text-subheading-max-width;
    color: $color-dark-l;

    &__heading,
    &__subheading,
    &__credit-card {
      margin-bottom: 1.25rem;
    }

    &__heading {
      max-width: $text-heading-max-width;
    }

    &__subheading {
      font-family: inherit;
      color: inherit;
    }

    &__credit-card {
      display: inline-flex;
      padding: 0.625rem 0.9375rem;
      font-size: 1.25rem;
      line-height: 115%;
      letter-spacing: 0.06em;
      background-color: $color-primary;
      border-radius: 9px;

      img {
        margin-right: 0.9375rem;
      }
    }

    &__description {
      text-align: justify;
      color: $color-dark-m;

      @extend .paragraph-s;
    }
  }
}

@media screen and (max-width: 1023px) {

  #donation .content {
    flex-direction: column-reverse;

    &__image {
      margin: 0 auto;
    }

    .text {
      margin-bottom: 3.75rem;
    }
  }
}

@media screen and (max-width: 767px) {

  #donation .content {
    $text-mobile-max-width: 280px;

    padding: 2.625rem 0.625rem;

    &__image {
      width: 86.67%;
    }

    .text {
      width: $text-mobile-max-width;
      margin-bottom: 2.625rem;

      &__heading {
        font-size: 1.5625rem;
        text-align: center;
      }

      &__subheading,
      &__credit-card {
        font-size: 0.9375rem;
        letter-spacing: 0;
      }

      &__credit-card {
        align-items: center;
        width: 100%;
      }
    }
  }
}
