@import '../../styles/var.scss';
@import '../../styles/paragraph.scss';

#donation {
  $text-heading-max-width: 300px;
  $text-subheading-max-width: 380px;

  background-color: $color-light-l;

  .content {
    justify-content: center;
    padding: 5rem 0 6.25rem;

    &__image {
      margin-right: 1.875rem;
    }
  }

  .text {
    max-width: $text-subheading-max-width;
    color: $color-dark-l;

    &__heading,
    &__subheading,
    &__credit-card {
      margin-bottom: 1.25rem;
    }

    &__heading {
      max-width: $text-heading-max-width;
    }

    &__subheading {
      font-family: inherit;
      color: inherit;
    }

    &__credit-card {
      display: inline-flex;
      padding: 0.625rem 0.9375rem;
      font-size: 1.25rem;
      line-height: 115%;
      letter-spacing: 0.06em;
      background-color: $color-primary;
      border-radius: 9px;

      img {
        margin-right: 0.9375rem;
      }
    }

    &__description {
      color: $color-dark-m;
      text-align: justify;

      @extend .paragraph-s;
    }
  }
}
