@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($flex-direction, $align-items: stretch, $justify-content: stretch, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
