.paragraph-s,
.paragraph-l {
  font-weight: normal;
  font-family: Arial;
  color: $default-color;
}

.paragraph-s {
  font-style: italic;
  font-size: 0.75rem;
  line-height: 150%;
}

.paragraph-l {
  font-size: 0.9375rem;
  line-height: 160%;
}
