@import '../../styles/var.scss';

#start-screen {
  $text-heading-max-width: 310px;
  $text-subheading-max-width: 460px;

  background: url('../../assets/img/start-screen-background.jpg');

  .outer-wrapper {
    padding-top: 3.75rem;
    background: url('../../assets/img/noise_transparent.png'), $start-screen-gradient-background;
  }

  .inner-wrapper {
    padding-top: 120px;
  }

  .text {
    margin-right: 2.625rem;
    margin-bottom: 5.0625rem;

    &__heading {
      max-width: $text-heading-max-width;
      margin-bottom: 2.625rem;
      color: $color-light-xl;
    }

    &__subheading {
      max-width: $text-subheading-max-width;
      margin-bottom: 2.625rem;
      color: $color-dark-s;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 1023px) {
  #start-screen {
    $content-image-min-width: 260px;

    .outer-wrapper {
      padding-top: 1.875rem;
    }

    .content {
      flex-direction: column;

      &__image {
        width: 80.4%;
        min-width: $content-image-min-width;
        align-self: flex-end;
      }
    }

    .text {
      margin-right: 0;
      display: flex;
      flex-direction: column;

      .button {
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #start-screen .content {
    .text__heading {
      text-align: center;
      font-size: 1.5625rem;
    }
  }
}
