.button {
  $btn-border-radius: 100px;

  font: inherit;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: $btn-border-radius;
  padding: 0.9375rem 2.8175rem;
  color: $color-dark-3xl;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-primary-light;
  }
}

.button--primary {
  background-color: $color-primary;
}
