#help {

  .content {
    flex-direction: column;
    padding: 5rem 0 6.25rem;

    &__heading {
      margin-bottom: 3.75rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) {

  #help .content {
    padding: 2.625rem 0.625rem;

    &__heading {
      font-size: 1.5625rem;
    }
  }
}
