@import './var.scss';
@import './mixin.scss';
@import './paragraph.scss';

.content {
  $column-min-width: 280px;
  $column-max-width: 305px;

  @include flex(row, center, space-between);

  &__heading {
    color: $color-dark-l;
  }

  &__column {
    max-width: $column-min-width;
    margin-top: 1.25rem;

    &__heading {
      margin-bottom: 2.5rem;
      color: $color-light-xl;
    }

    &__subheading {
      color: $color-primary;

      @include flex(row, center);

      img {
        margin-right: 1.25rem;
      }

      &:not(:last-child) {
        margin-bottom: 2.75rem;

        .column--extensive & {
          margin-bottom: 2.0625rem;
        }
      }

      a {

        @include flex(row, center);
      }
    }
  }

  .column--extensive {
    max-width: $column-max-width;
  }

  .column--adaptive {
    max-width: none;
    margin: 0;
    display: inline-flex;
  }

  .text__subheading {

    @extend .paragraph-l;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;

    &__column {
      margin-top: 0;

      &:first-child {
        margin-right: 3.75rem;
      }

      &:not(:last-child) {
        margin-bottom: 3.75rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .content {

    &__column {

      &:first-child {
        margin-right: 0;
      }

      &__heading {
        text-align: center;
      }
    }
  }
}
