@import './var.scss';

@import './content.scss';

* {
  box-sizing: border-box;
  border: 0;
  outline: none;
  cursor: default;

  &::after,
  &::before {
    pointer-events: none;
  }
}

button,
a>img {
  cursor: pointer;
}

html {
  font-size: 100%;
  line-height: 120%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: $default-color;
  background-color: $color-light-xl;
  font-weight: 400;
}

h1,
h5 {
  line-height: 110%;
}

h2,
h3 {
  line-height: 130%;
}

h1,
h3,
h4,
h5 {
  letter-spacing: 0.06em;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.1875rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 115%;
}

h5 {
  font-size: 0.9375rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.inner-wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 0 2.5rem;
  margin: 0 auto;
}

section {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .inner-wrapper {
    max-width: 992px;
    padding: 0 1.875rem;
  }
}

@media screen and (max-width: 991px) {
  .inner-wrapper {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .inner-wrapper {
    max-width: 320px;
    padding: 0 0.625rem;
  }
}
