@import '../../styles/var.scss';

#about {
  $text-heading-max-width: 370px;
  $text-subheading-max-width: 430px;

  .content {
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 6.25rem;

    &__image {
      margin-right: 7.5rem;
    }
  }

  .text {
    max-width: $text-subheading-max-width;
    padding: 0.875rem 0;

    &__heading {
      max-width: $text-heading-max-width;
      color: $color-dark-l;
    }

    &__subheading {
      text-align: justify;
      color: $color-dark-xl;
    }

    &__heading,
    &__subheading:not(:last-child) {
      margin-bottom: 1.5625rem;
    }
  }
}

@media screen and (max-width: 1023px) {

  #about .content {
    flex-direction: column-reverse;

    &__image {
      margin: 0 auto;
    }

    .text {
      margin-bottom: 3.75rem;
      padding: 0;
    }
  }
}

@media screen and (max-width: 767px) {

  #about .content {
    $text-mobile-max-width: 280px;

    padding: 2.625rem 0.625rem;

    &__image {
      width: 86.67%;
    }

    .text {
      width: $text-mobile-max-width;
      margin-bottom: 2.625rem;

      &__heading {
        font-size: 1.5625rem;
        text-align: center;
      }
    }
  }
}
