.content {
  $column-min-width: 280px;
  $column-max-width: 305px;

  @include flex(row, center, space-between);

  &__heading {
    color: $color-dark-l;
  }

  &__column {
    max-width: $column-min-width;
    margin-top: 1.25rem;

    &__heading {
      margin-bottom: 2.5rem;
      color: $color-light-xl;
    }

    &__subheading {
      color: $color-primary;

      @include flex(row, center);

      img {
        margin-right: 1.25rem;
      }

      &:not(:last-child) {
        margin-bottom: 2.75rem;
      }

      a {

        @include flex(row, center);
      }
    }
  }

  .column--extensive {
    max-width: $column-max-width;
  }

  .text__subheading {

    @extend .paragraph-l;
  }
}
