@import '../../styles/var.scss';

.pet-card {
  padding-bottom: 1.875rem;
  text-align: center;
  overflow: hidden;
  background-color: $color-light-s;
  border-radius: 9px;

  img,
  h4 {
    margin-bottom: 1.875rem;
  }

  h4 {
    color: $pets-card-title;
  }

  &:hover {
    background-color: $color-light-xl;
  }
}
