@import '../../styles/mixin.scss';

@import '../../styles/var.scss';

#header {
  position: absolute;
  top: 1.875rem;
  left: 0;
  width: 100%;


  &.light-theme {
    position: sticky;
    top: 0;
    z-index: 999999;
    padding: 1.875rem 0;
    background-color: $color-light-xl;
  }
}

@media screen and (max-width: 1023px) {

  #header {
    top: 1.875rem;

    .content {
      position: relative;
      justify-content: space-between;
    }
  }
}
