@import '../../Button/Button.scss';

@import '../../../styles/mixin.scss';

@import '../../../styles/var.scss';

$swiper-laptop-max-width: 990px;
$swiper-laptop-min-width: 890px;
$swiper-tablet-max-width: 630px;
$swiper-tablet-min-width: 580px;
$swiper-mobile-max-width: 270px;

.swiper {

  &-container {
    width: 100%;
    max-width: $swiper-laptop-max-width;
    min-width: $swiper-laptop-min-width;
    margin-bottom: 3.75rem;
  }

  &-wrapper {
    cursor: grab;
  }

  &-slide {
    width: 270px!important;
  }

  &-button {

    &-prev,
    &-next {

      @extend .button-arrow;
      position: absolute;
      top: calc(50% - 1.625rem);
      right: 0;
      z-index: 10;
      color: $color-dark-3xl;
  
      border-radius: 100px;
      cursor: pointer;
  
      &::after {
        position: absolute;
        top: calc(50% - 0.5rem);
        left: calc(50% - 0.5rem);
        content: '\279E';
      }
    }

    &-prev {
      left: 0;
      transform: rotate(180deg);
    }

    &-disabled {
      color: $color-dark-s;
      border-color: $color-dark-s;
      cursor: default;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1023px) {

  .swiper-container {
    max-width: $swiper-tablet-max-width;
    min-width: $swiper-tablet-min-width;
  }
}

@media screen and (max-width: 767px) {

  .swiper-container {
    width: $swiper-mobile-max-width;
    max-width: auto;
    min-width: auto;
  }
}
