@import './abstractions/mixin.scss';

@import './abstractions/variables.scss';

@import './abstractions/paragraph.scss';

@import './components/logo.scss';

@import './components/nav.scss';

@import './components/button.scss';

@import './components/swipper.scss';

@import './components/list.scss';

@import './layout/header.scss';

@import './layout/content.scss';

@import './layout/sections/startScreen.scss';

@import './layout/sections/about.scss';

@import './layout/sections/pets.scss';

@import './layout/sections/help.scss';

@import './layout/sections/donation.scss';

* {
  box-sizing: border-box;
  border: 0;
  outline: none;
  cursor: default;

  &::after,
  &::before {
    pointer-events: none;
  }
}

button,
a>img {
  cursor: pointer;
}

html {
  font-size: 100%;
  line-height: 120%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: $default-color;
  background-color: $color-light-xl;
  font-weight: 400;
}

h1,
h5 {
  line-height: 110%;
}

h2,
h3 {
  line-height: 130%;
}

h1,
h3,
h4,
h5 {
  letter-spacing: 0.06em;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.1875rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 115%;
}

h5 {
  font-size: 0.9375rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.inner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  width: 100%;
}
