@import '../../../styles/paragraph.scss';

@import '../../../styles/var.scss';

.logo {
  display: inline-block;
  z-index: 3;
  cursor: pointer;

  &__title {
    margin-bottom: 0.625rem;
    font-size: 2rem;
    color: $color-primary;
    cursor: inherit;

    .light-theme & {
      color: $color-dark-l;
    }
  }

  &__subtitle {

    @extend .paragraph-s;
    font-size: 0.8125rem;
    line-height: 115%;
    letter-spacing: 0.1em;
    color: $color-light-xl;
    cursor: inherit;

    .light-theme & {
      color: $color-dark-3xl;
    }
  }
}

@media screen and (max-width: 767px) {

  .menu-opened .logo {
    position: fixed;
    top: 1.875rem;
  }
}
